<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Server"
         connectionString="Server=_SERVER_;Database=_DB_;User ID=_USER_NAME_;Password=_USER_PASSWORD_"/>
  </connectionStrings>
</configuration>